[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=girinoscope
Icon=${SNAP}/meta/gui/girinoscope.png
Categories=Science;Education;
Name=Girinoscope
Comment=Girinoscope ${SNAPCRAFT_PROJECT_VERSION}
